streamlit>=1.42.0
pandas
numpy
scikit-learn
xgboost>=2.1.0
shap>=0.45.0
plotly
matplotlib
firebase-admin
PyPDF2
pdfplumber
PyGithub
nltk
google-genai
fpdf2
joblib
requests
imbalanced-learn
gdown
scipy
